body, html {
    font-family: 'Segoe UI', sans-serif;
    height: 90%;
    margin: auto;
    /*overflow:hidden;*/
    padding-bottom:10px;
}

body{
    
}

span {
    font-style: italic;
}

#MySplitter {
    height: 500px;
    border: 1px solid #aaa;
}

    #MySplitter div {
        overflow: auto;
    }

.vsplitbar {
    width: 5px;
    background: #aaa;
}

.issues-outer-div
{
    height:100%;
    width:100%;
    background-color:white;
    overflow:scroll;
}

.visual-tree-outer {
    float: left;
    width: 100%;
    /*border-width: 1px;
    border-color: black;
    border-style: solid;*/
    overflow: scroll;
     height:100%;
    top: 10px;
    bottom: 10px;
    background-color:white;
}

.source-code-outer {
    float: left;
    width: 100%;
    
    /*border-width: 1px;
    border-color: black;
    border-style: solid;*/
    height:100%;
    top: 10px;
    bottom: 10px;
}

.selected {
    background-color: #e9e9e9;
    font-weight: bold;
}

.syntaxNode {
    color: blue;
    cursor: default;
}

.syntaxToken {
    color: green;
    cursor: default;
}

.syntaxTrivia {
    color: maroon;
    cursor: default;
}
