body, html {
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    margin: auto;
}

span {
    font-style: italic;
}

#MySplitter {
    height: 500px;
    border: 1px solid #aaa;
}

    #MySplitter div {
        overflow: auto;
    }

.vsplitbar {
    width: 5px;
    background: #aaa;
}

.visual-tree-outer {
    float: left;
    width: 29%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    overflow: scroll;
     height:70%;
    top: 10px;
    bottom: 10px;
}

.source-code-outer {
    float: left;
    width: 70%;
    ;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height:70%;
    top: 10px;
    bottom: 10px;
}

.selected {
    background-color: #e9e9e9;
    font-weight: bold;
}

.syntaxNode {
    color: blue;
    cursor: default;
}

.syntaxToken {
    color: green;
    cursor: default;
}

.syntaxTrivia {
    color: maroon;
    cursor: default;
}
