div[data-listview] table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

div[data-listview] .table {
    width: 100%;
    margin-bottom: 20px;
    -webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-ms-user-select: none;
}

    div[data-listview] .table .error-icon {
        text-align: center;
        width: 40px;
        color: #a80606;
    }

    div[data-listview] .table th,
    div[data-listview] .table td {
        padding: 2px;
        line-height: 18px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #dddddd;
    }

    div[data-listview] .table th {
        font-weight: bold;
    }

    div[data-listview] .table thead th {
        vertical-align: bottom;
    }

    div[data-listview] .table caption + thead tr:first-child th,
    div[data-listview] .table caption + thead tr:first-child td,
    div[data-listview] .table colgroup + thead tr:first-child th,
    div[data-listview] .table colgroup + thead tr:first-child td,
    div[data-listview] .table thead:first-child tr:first-child th,
    div[data-listview] .table thead:first-child tr:first-child td {
        border-top: 0;
    }

    div[data-listview] .table tbody + tbody {
        border-top: 2px solid #dddddd;
    }

    div[data-listview] .table .table {
        background-color: #ffffff;
    }

div[data-listview] table th {
    text-align: left;

}



div[data-listview] .item {
    border: 1px solid white;
    cursor: pointer;
    padding: 2px;
}

    div[data-listview] .item:hover {
        background-color: #EFF7FF;
        border: 1px solid #9CB9F7;
    }

div[data-listview] .column-title {
    white-space: nowrap;
}

    div[data-listview] .column-title span {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 85%;
        position: relative;
        margin-left: 5px;
        top: 2px;
    }

div[data-listview] .column-line {
    white-space: nowrap;
    width: 70px;
}

div[data-listview] .column-column {
    white-space: nowrap;
    width: 70px;
}